.box-form{
    background: white;
    padding:20px;
    padding-top: 0px;
    float: none;
    margin: 0px auto;
    border: 1px solid #ccc;
}


.box-default{
    background: white;
    padding:20px;
    padding-top: 0px;
    float: none;
    margin: 0px auto;
    border: 1px solid #ccc;
}


.navbar-collapse .avatar{
    background: blue;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -7px;
}

.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}

body{
    background: #eee;
}


.box-form input{
    margin-bottom: 10px;
}


.user-item .avatar{
    background:  #eee;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
}


.publication-item .avatar{
    background:  #eee;
    border-radius: 550px;
    width: 75;
    height: 75;
    overflow: hidden;
    float: left;
}


.user-item .avatar img,
.publication-item .avatar img
{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content,
.publication-item  .publication-item-contentcontent{
    padding:10px;
    margin-left: 85px;
}


#user-card{
    padding: 10px;
    margin-bottom: 20x;
}


#user-card .avatar{
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}


#user-card .avatar img{
    height: 100%;
    text-align: center;
}


#user-card .avatar img.default{
    opacity: 0.5;
}

.box-header{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-top: 0px;
    font-size: 20px;
}

#user-card .name-surname{
    float: left;
    font-size: 20px;
    padding: 10px;

}

#user-card .name-surname a{
    color: black;

}

#user-card .nickname{
    opacity: 0.5;

}


#user-card .following-data{
    width: 25%;
    float: left;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
}

#user-card .following-data a:hover{
    color: #444;
    text-decoration: none;
}





#user-card .following-data .label-stat{
    display: block;
    font-size: 13px;
}


#user-card .following-data .number-stat{
    display: block;
    font-size: 16px;
    font-weight: bold;
}




#timeline{
    margin-top: 20px;
    min-height: 750px;
    padding-bottom: 20px;
}



.pub-name-link{
    font-weight: bold;
    color: black;
}


.pub-image{
    display: none;
    transition: all 300ms;
}


.pub-image img{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0px auto;
}


.publication-item .glyphicon{
    margin-right: 7px;
    cursor: pointer;
    color: #444 !important;
}



.like{
    font-size: 25px;
    margin-top: -45px;    
}


.like .btn-like:hover{
    color: red !important;
    cursor: pointer;
    
}


.like .active{
    color: red !important;
}