
{% extends "AppBundle:layouts:layout.html.twig" %}
{% block content %}
<div class="col-lg-10">
    <h1>CREADORES DEL SITIO</h1>
    </hr>
    <h2>Esvin Ricardo Mayorga Asturias    Carnet: 0900-17-1154</h2>
    </hr>
    <h2>Melanie Franco    Carnet: 0900-17-1154</h2>
    </hr>
<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
&nbsp;  CREADORES      
</div>

{% endblock %}
