
{% extends "AppBundle:layouts:layout.html.twig" %}
{% block content %}
<div class="container"> 
 <div class="col-lg-8 box-form"> 
    <h1>CREADORES DEL SITIO</h1>
    </hr>
    </hr>   
    </hr>


    <h5>Esvin Ricardo Mayorga Asturias           Carnet: 0900-17-1154</h5>
    </hr>
    <h5>Melanie Andrea Jolón Cabrera             Carnet: 0900-17-1053</h5>
    </hr>
    <h5>Andrea Paola Fernanda Ruano Hernández    Carnet: 0900 - 13 - 201015</h5>
    </hr
    <h5>Estuardo Estrada    Carnet: 0900-15-466</h5>
    </hr
    
</div>
    </div>

{% endblock %}
